@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

:root {
	--darkBlueEl: #2b3945; /*DM EL*/
	--veryDarkBlueBg: #202c37; /*DM BG*/
	--veryDarkBlueTxt: #111517; /*LM TXT*/
	--darkGrayInp: #858585; /* LM INPUT*/
	--veryLightGrayBg: #fafafa; /*LM BG*/
	--myWhite: #ffffff;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: yellow;
}
::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 5px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
}
body {
	font-size: 14px;
	background-color: var(--veryLightGrayBg);
	color: var(--veryDarkBlueTxt);
	display: flex;
	flex-direction: column;
}
i {
	margin-right: 5px;
}

/* Top */
header {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.133);
}
.positionContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5vw;
}
.changeMode {
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
	color: var(--veryDarkBlueBg);
}
.changeMode:hover {
	background-color: var(--darkGrayInp);
	box-shadow: 0px 0px 20px 2px crimson;
	color: var(--myWhite);
}

/* main */
.filteringArea {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding-bottom: 0;
	min-height: 60px;
	position: relative;
}
.filteringArea > *.hidden:not(.hiddenBackDiv) {
	display: none;
}
.filteringArea :is(input, select, button, label) {
	border: 1px solid var(--darkGrayInp);
	box-shadow: 0px 0px 2px var(--darkGrayInp);
	background-color: var(--myWhite);
	padding: 5px 20px;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
}
.hiddenBackDiv {
	display: none;
	margin: 20px 0;
}
.hiddenBackDiv.hidden {
	display: flex;
}

.searchDiv #searchIcon {
	position: absolute;
	top: 25%;
	left: 10px;
}
#searchBar {
	padding: 5px 10px 5px 35px;
	border-radius: 5px;
	outline: none;
	width: 300px;
	cursor: auto;
}

.chooseRadio {
	display: flex;
	gap: 20px;
}
.chooseRadio input:checked + label {
	background-color: var(--darkBlueEl);
	color: var(--myWhite);
}
.chooseRadio input {
	display: none;
}

.loadedCountries {
	display: flex;
	gap: 5px;
	justify-content: center;
	border-bottom: 1px dashed var(--veryDarkBlueBg);
	min-width: 150px;
}
@media (max-width: 440px) {
	.loadedCountries {
		position: absolute;
		bottom: 8px;
		right: 20px;
	}
}

/* Content  */
.containerSection {
	display: flex;
	overflow: hidden;
}
.errorImage {
	width: clamp(550px, 95%, 900px);
	background-color: #ffffff20;
	border-radius: 50px;
}

.container {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 50px;
}

.box {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	text-align: left;
	gap: 15px;
	background-color: var(--myWhite);
	overflow: hidden;
	box-shadow: 2px 2px 10px var(--darkGrayInp);
	opacity: 0;
	transition: 0.5s;
	cursor: pointer;
}
.box:hover {
	transform: scale(1.05);
}
.box img {
	width: 100%;
	height: 20vw;
	max-height: 150px;
	box-shadow: 0px 0px 10px 2px var(--veryDarkBlueBg);
}
.box > div {
	margin: 10px 15px;
}
.box h3 {
	margin-bottom: 10px;
}

.countryInfo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	cursor: auto;
	gap: 20px;
	font-size: clamp(1em, 1.8vw, 1.1em);
	transition: 0.5s;
	opacity: 0;
}
.countryInfo img {
	width: clamp(360px, 90vw, 500px);
	height: clamp(220px, 50vw, 300px);
}
.countryInfo h3 {
	font-size: 1.5em;
}
.countryInfo .textArea {
	width: clamp(360px, 90vw, 500px);
}
.countryInfo .middleDiv {
	gap: 10px;
	display: flex;
	flex-direction: row;
	margin: 30px auto;
}
.countryInfo .middleDiv > div {
	width: clamp(170px, 45vw, 245px);
}
.countryInfo .bdcDiv {
	display: flex;
	flex-direction: column;
	width: clamp(360px, 90vw, 500px);
	gap: 10px;
}
.countryInfo .bdcDiv p {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.countryInfo .bdcDiv span {
	padding: 5px 15px;
	border: 1px solid var(--darkGrayInp);
	margin-right: 15px;
}
@media (max-width: 600px) {
	.container {
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	}
	.box img {
		height: 50vw;
		max-height: 250px;
	}
}
